{% extends "base.html" %}

{% block content %}
    <h1>Moldove Rules:</h1>
    <h2> Rule No. 1: NO SMOKING IN THE HOUSE.</h2>
    <h3>There are no winners</h3>
    <p>The aim of the game is to get rid of all your cards. When you have no cards left, you are out and are safe. Game play will continue with the remaining players.<br>The last player remaining is the loser and as a forfeit they must drink a measure of spirit. The measure increments by one capful after every consecutive game. One cap is approximately 5ml or 1 teaspoon.</p>
    <h3>Getting started</h3>
    <p>Each player will be dealt three "blind cards" that cannot be seen until they are played. <br>Each player will then be dealt six cards to their hand. They must select the best cards from this hand to place as the "face up" cards. High cards, or a two, three or ten, usually serve as the best cards here. The face up cards will be visible to all players.<br> Once your face up cards have been selected, you have the opportunity to start the game by playing a four first. Act fast, as this is a good chance to dump your feckless fours on other players. If there are no fours in any players' hands then the top card from the deck will be used to start the game and Player 1 will go first.</p>
    <h3>Game play</h3>
    <p>You must start by playing from your hand. You can play your face up cards when, and only when, you have no cards in your hand. You can play the blind cards when, and only when you have no cards in your hand nor face up cards. <br> Players take turn to play a card higher or equal, in value, to the card played before (Aces are high). There are special cards that have their own rules - given below. If you cannot play any cards, then you must pick up the pile of played cards and add them to your hand.<br>If you have more than one card in your hand with the same value, then you may play these at the same time. This helps to cut back those large hands in short order.</p>
    <h3>Deck</h3>
    <p>Nine cards are dealt to each player at the begining of the game. The remaining cards are set face down in a pile on the table. In the begining of the game, if you have fewer than three cards in your hand, then you must pick up a card from the top of the deck until you have three cards. Once there are no more cards in the deck, the game moves on.</p>
    <h3>Burning Cards</h3> 
    <p>If a ten is played then the played pile is "burnt", the cards are removed from gameplay. Playing a four of a also leads to burning the pile (this can include cards played by the players before you e.g. the last three turns see a five being play, if you play a 5 then you can burn the pile). The player that burns the pile then can play whatever card they would like, to kick off normal game play once again.</p>
    <h3>Blind Cards</h3>
    <p>When the time comes to play your blind cards, you can only play them on at a time. You must select the card to play without knowing what it is. If the card breaks the rules then you must pick up the pile. If the card can be played, according to the rules, then it is played as normal. Your destiny is out of your hands!</p>
    <h3>Special Cards</h3>
    <p>TWO: A two can be played, during a players turn, no matter what the preceding played card is. Following a two, the next player can then play any card as all cards are higher.</p>
    <p>THREE: A three can be played, during a players turn, no matter what the preceding played card is. However, threes are treated as invisble. Following a three, the next player must play a card as per the rules of the card played before the three.</p>
    <p>SEVEN: A seven can only be played over a card lower in value or over another seven. Following a seven being played, the next card to be played must be lower than or equal to a seven, other that higher or equal as per normal.</p>
    <p>TEN: A three can be played, during a players turn, no matter what the preceding played card is. The ten burns the played card pile and the player gets another turn. This makes the ten, arguably, the most powerful card in the game.</>
    <h3>Notes:</h3>
    <p>If you cannot, according to the rules, play a face up card. Then you may not lift that card when picking up the played pile.</p>
   <!-- <p>If you play a blind card and it breaks the rules, then you must share what that card was with the other players then add it to your hand when picking up the played pile</p> //-->
    <h3>Good luck!</h3>
    <a href="{{pl}}" target="_self">Start Playing!{{c1}}</a>
{% endblock %}
