{% extends "base.html" %}

{% block content %}
    <h1>Welcome to Moldove!</h1>
    <h2>The best card game on the planet!</h2>
    <iframe id="centered" src="https://giphy.com/embed/xT9DPlAUKTl1GeZjC8" width="720" height="360" frameBorder="0" class="giphy-embed.center" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/poker-gambling-card-game-xT9DPlAUKTl1GeZjC8"></a></p>
    <a href="{{pl}}" class="button2">Click here to start playing</a>
    <p> Visitor counter
    <script type="text/javascript" src="//counter.websiteout.net/js/5/6/0/1"></script><br><br><br><br>
    </p>
{% endblock %}
