{% extends "base.html" %}

{% block content %}
    <table>
        <tr valign="top">
            <td>
            	<a href="{{ url_for('upload_file', username=current_user.username) }}">
            		<img src="{{ user.avatar() }}" style="width:150px"></a>
            </td>            	
            <td>
              <h1>Player: {{ user.username }}</h1>
              {% if user.last_seen %}<p>Last seen on: {{ user.last_seen }}</p>{% endif %}	
            </td>
        </tr>
    </table>
    <hr>
    <p>Games played: <b>{{ user.games_played }}</b></p>
    <p>Games lost: <b>{{ user.games_lost }}</b></p>
    <p>Shots done: <b>{{ user.shots_done }}</b></p>
{% endblock %}
